.productCard {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 2rem 2.2rem;
  box-shadow: var(--shadow-sm);
}

.productCard h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

.productCard h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

.productCard img {
  align-self: center;
  margin: 1rem 0;
}

.price {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.msrp {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: line-through;
  color: var(--gray-600);
  margin-left: 0.5rem;
}

.status {
  font-size: 1.1rem;
  font-weight: 700;
}

.productCard button {
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  box-shadow: var(--shadow-md);
}
