.filterContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 0;
}

.title {
  font-size: 1.2rem;
}

.select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}
