/* top nav bar */
header {
  width: 100%;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: var(--shadow-sm);
}

/* content within nav bar */
.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}

.header-content img {
  margin-bottom: -2px;
}

/* main content area (everything below header) */
main {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  main {
    padding: 0 1.2rem;
  }
  .header-content {
    padding: 1.2rem;
  }
}

h1 {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-align: center;
  padding: 2rem 0;
}
